html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Stardos Stencil', cursive;
	height: 100%;
	background:#fc6b03;
	color:#80fc03;
}

h3 {
	font-family: 'Molle';
	color: #be03fc;
}

.header__title {
	font-family: 'Sigmar One';
	color: #038cfc;
	font-size: 3.49rem;
	margin: 0;
	padding-bottom: 0;
	font-weight: 300;
}

.container {
	margin: 0 auto;
	max-width: 20em;
}

/*Header*/
header {
	padding: 20px 0 10px 0;
	background: #ffae00;
	text-align: center;
}

.header__username {
	margin: 0;
	font-size: 1.3rem;
	letter-spacing: 1px;
}

/*Main Section*/
main {
	padding-top: 30px;
}

/*Input and "add" button*/
.submission-line__input {
	padding-left: 10px;
	height: 44px;
	width: 66.6666%;
	border: none;
	color: rgba(0, 0, 0, 0.87);
	font-size: 1.3rem;
}

.submission-line__input::placeholder {
	color: rgba(0, 0, 0, 0.38);
}

.submission-line__input:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 20px 0px rgb(255, 174, 0);
	-moz-box-shadow: 0px 0px 20px 0px rgb(255, 174, 0);
	box-shadow: 0px 0px 20px 0px rgb(255, 174, 0);
}

.submission-line__btn {
	float: right;
	height: 46px;
	width: 27.33333%;
	background: #39bbbc;
	-webkit-box-shadow: 0px 0px 20px 0px rgb(255, 174, 0);
	-moz-box-shadow: 0px 0px 20px 0px rgb(255, 174, 0);
	box-shadow: 0px 0px 20px 0px rgb(255, 174, 0);
	border: none;
	font-size: 1.3rem;
	color: #70fbaa;
}

.submission-line__input,
.submission-line__btn {
	margin-bottom: 16px;
}

/*List, list items and list item buttons*/
.list {
	padding: 0;
	list-style-type: none;
	clear: both;
}

.list__item {
	font-size: 1.3rem;
	width: 300px;
	height: 30px;
	padding: 10px;
	text-align: center;
}

.list__item:nth-child(odd) {
	background: #5e3370;
}

.list__item:nth-child(even) {
	background: #c191e3;
}

.list__delete-btn {
	cursor: pointer;
	float: left;
	margin: -5px;
	padding: 5px 9px;
}

.list__check-btn {
	cursor: pointer;
	float: right;
	margin: -5px;
	padding: 4px 8px;
}

/*Checked-off item list formatting*/
.list .list__item--checked {
	background: #857d8a;
	color: rgba(0, 0, 0, 0.38);
	text-decoration: line-through;
}

.list__delete-btn--checked,
.list__check-btn--checked {
	color: rgba(0, 0, 0, 0.38);
}